mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column-header {
  justify-content: flex-end
}

.action-column {
  justify-content: flex-end;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


