<mat-card>
  <mat-toolbar color="primary">
    <span>Segurados</span>
  </mat-toolbar>
  @if (segurados$ | async; as segurados) {
  <mat-card-header>
    <mat-form-field>
      <mat-label>Pesquisa</mat-label>
      <input
        matInput
        type="text"
        placeholder="Ex. Alvaro"
        (keyup.enter)="applyFilter()"
        #input
        (keyup)="filter($event)"
      />
      @if (input.value) {
      <button matSuffix mat-icon-button (click)="applyFilter()">
        <mat-icon>search</mat-icon>
      </button>
      }
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <segurados-list
      [segurados]="segurados.segurados"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (remove)="onDelete($event)"
    ></segurados-list>
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      showFirstLastButtons
      [pageIndex]="pageIndex"
      (page)="handlePageEvent($event)"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card-content>
  } @else {
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  }
</mat-card>
