mat-card {
  max-width: 95%;
  margin: 1em auto;
  text-align: center;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 8px;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  /* Space cards evenly */
}

.card-content-inativos a {
  font-size: 25px;
  text-decoration: none;
  color: blue;
}

.card-content-inativos {
  text-align: center;
  padding: 35px;
}

.card-content a:hover {
  text-decoration: underline;
}

.card-content {
  text-align: center;
  padding: 35px;
  font-size: 25px;
}

.card {
  /* Customize card width, margins, etc. */
  width: 18rem;
  height: 150px;
}

/* Optional: Add responsive styling for different screen sizes */
@media (max-width: 768px) {
  .card {
    width: 100%;
    /* Make cards stack on smaller screens */
  }
}


