<div style="display: flex; justify-content: space-between">
  <h2 mat-dialog-title>Cadastro Segurado</h2>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<mat-dialog-content style="margin-bottom: 5px">
  <form [formGroup]="seguradoFormGroup">
    <mat-stepper
      orientation="horizontal"
      linear="true"
      animationDuration="600"
      #stepper
    >
      <mat-step
        formGroupName="dadosPessoais"
        [stepControl]="seguradoFormGroup.get('dadosPessoais.name')!"
      >
        <div style="margin-top: 15px; margin-bottom: 15px">
          <mat-radio-group aria-label="Select an option" formControlName="tipo">
            <mat-radio-button
              style="margin-right: 20px; margin-left: 10px"
              color="primary"
              value="PF"
              checked="true"
              >Pessoa Física</mat-radio-button
            >
            <mat-radio-button color="primary" value="PJ"
              >Pessoa Jurídica</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <ng-template matStepLabel>Dados Pessoais</ng-template>
        <div *ngIf="seguradoFormGroup.get('dadosPessoais.tipo')!.value == 'PF'">
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input
              matInput
              placeholder="Ex. Pedro Henrique"
              formControlName="name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input
              matInput
              placeholder="000.000.000-00"
              mask="000.000.000-00"
              formControlName="document"
              [required]="
                seguradoFormGroup.get('dadosPessoais.tipo')!.value == 'PF'
                  ? true
                  : false
              "
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data de Nascimento</mat-label>
            <input
              matInput
              placeholder="00/00/0000"
              mask="00/00/0000"
              formControlName="birthDate"
              [required]="
                seguradoFormGroup.get('dadosPessoais.tipo')!.value == 'PF'
                  ? true
                  : false
              "
            />
          </mat-form-field>
        </div>
        <div *ngIf="seguradoFormGroup.get('dadosPessoais.tipo')!.value == 'PJ'">
          <mat-form-field>
            <mat-label>Razão Social</mat-label>
            <input
              matInput
              placeholder="Razão Social"
              formControlName="name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>CNPJ</mat-label>
            <input
              matInput
              placeholder="00.000.000/0000-00"
              mask="00.000.000/0000-00"
              formControlName="document"
              [required]="
                seguradoFormGroup.get('dadosPessoais.tipo')!.value == 'PJ'
                  ? true
                  : false
              "
            />
          </mat-form-field>
        </div>
        <div [align]="'end'">
          <button
            mat-button
            [disabled]="
              seguradoFormGroup.get('dadosPessoais.tipo')?.value != null
                ? false
                : true
            "
            matStepperNext
          >
            Próximo
          </button>
        </div>
      </mat-step>
      <mat-step
        formGroupName="addressGroup"
        [stepControl]="seguradoFormGroup.get('addressGroup.address')!"
      >
        <ng-template matStepLabel>Endereço</ng-template>
        <mat-form-field>
          <mat-label>CEP</mat-label>
          <input
            matInput
            placeholder="CEP"
            mask="00000-000"
            formControlName="postalCode"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Endereço</mat-label>
          <input matInput placeholder="Endereço" formControlName="address" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Numero</mat-label>
          <input matInput placeholder="0000" formControlName="number" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Complemento</mat-label>
          <input
            matInput
            placeholder="Ex. Apartamento, Casa"
            formControlName="complement"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Bairro" formControlName="district" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Cidade" formControlName="city" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Estado" formControlName="state" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Pais</mat-label>
          <input matInput placeholder="Pais" formControlName="country" />
        </mat-form-field>
        <div [align]="'end'">
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step
        formGroupName="contact"
        [stepControl]="seguradoFormGroup.get('contact')!"
      >
        <ng-template matStepLabel>Contato</ng-template>
        <div style="margin-top: 15px">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
              matInput
              type="email"
              placeholder="example@example.com"
              formControlName="email"
            />
            @if (seguradoFormGroup.get('email')?.invalid) {
            <mat-error>{{ getErrorMessage("contact", "email") }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input
              matInput
              placeholder="(00) 00000-0000"
              mask="(00) 00000-0000"
              formControlName="phone"
            />
          </mat-form-field>
        </div>
        <div [align]="'end'">
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Corretor</ng-template>
        <div style="margin-top: 15px">
          <mat-form-field>
            <mat-label>Corretor</mat-label>
            <mat-select matNativeControl formControlName="corretor" #corretor>
              @for (corretor of corretores; track corretor) {
              <mat-option [value]="corretor.nome">{{
                corretor.nome
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div [align]="'end'" style="margin-top: 9.2vh">
          <button mat-button matStepperPrevious style="margin-right: 10px">
            Voltar
          </button>
          <button
            mat-raised-button
            style="background-color: #4db355; color: white"
            (click)="onSubmit()"
          >
            <mat-icon>save</mat-icon>
            Cadastrar
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</mat-dialog-content>
<!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial></button> -->
